@use "f";
@use "var";

.block-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    & > div {
        padding: f.rem-calc(50px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__left {
        background-color: #fbbc05;
    }
    &__right {
        background-color: #f57600;
    }
    transition: height 0.15 ease-in-out;
}

.block-2__left__wrapper__text {
    display: flex;
    flex-direction: column;
    gap: f.rem-calc(15px);
    margin-bottom: f.rem-calc(15px);
    & > h1 {
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    }
}

.block-2__right {
    &__wrapper {
        // flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        &__text {
            display: flex;
            // flex: 1;
        }

        &__score {
            flex: 1;
            width: 100%;
            // display: grid;
            // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            // grid-template-columns: repeat(3, auto);
            // gap: f.rem-calc(55px);
            // align-items: flex-end;
            display: flex;
            align-items: center;
            // justify-content: center;
            justify-content: space-around;
        }
    }
}

@media only screen and (max-width: var.$screen-medium) {
    .block-2 {
        display: block;
        &__right__wrapper__score {
            padding-top: 20px;
        }
    }
}

@media only screen and (max-width: var.$screen-small) {
    .block-2 > div {
        padding: f.rem-calc(30px);
    }

    .block-2__left__wrapper__text {
        gap: 0px;
        & > h1 {
            font-size: f.rem-calc(24px);
        }
        & > p {
            font-size: f.rem-calc(14px);
        }
    }
    .block-2__right__wrapper__text {
        & > p {
            font-size: f.rem-calc(14px);
            line-height: f.rem-calc(25px);
        }
    }
}
