@use "f";
.block-3 {
    background-color: #005479;
    padding: f.rem-calc(50px) f.rem-calc(64px);
    display: flex;
    position: relative;

    &__shapes {
        position: absolute;
        height: 100%;
        width: f.rem-calc(400px);
        > img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    &__shapes-left {
        top: 0;
        left: 0;
    }
    &__shapes-right {
        top: 0;
        right: 0;
        transform: rotate(180deg);
    }

    &__kelas,
    &__modul {
        display: flex;
        align-items: center;
        z-index: 1;
        &__circle {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: white;
            border-radius: 50%;

            height: 190px;
            aspect-ratio: 1;
            img {
                height: 60%;
                width: 60%;
            }
        }
        &__text-wrapper__text {
            background-color: #fbbc05;
            font-size: 32px;
            font-weight: 700;
            padding: f.rem-calc(10px) f.rem-calc(15px);
        }
    }
    &__modul__circle > img {
        transform: translateY(f.rem-calc(-10px));
    }
    &__kelas__text-wrapper {
        transform: translateX(f.rem-calc(-15px));
    }
    &__modul__text-wrapper {
        transform: translateX(f.rem-calc(15px));
    }
}
.block-3__title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    > h1 {
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
        color: white;
        // font-size: 36px;
        // padding: f.rem-calc(10px) f.rem-calc(15px);
    }
}
