@use "f";

$gap: f.rem-calc(15px);

.penghargaan-point {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // align-items: center;
    &__circle-wrapper {
        margin: 0 f.rem-calc(10px) 0 0;
        &__circle {
            width: f.rem-calc(32px);
            aspect-ratio: 1;
            border-radius: 45.714px;
            background: #f57600;

            /* Webdev tulisan */
            box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
        }
    }
}

.penghargaan-point__lines {
    flex: 1;
    margin-bottom: $gap;
    &__line {
        // display: flex;
        display: inline-block;
        background-color: #fbbc05;
        padding: 0px $gap;
    }
}
