@use "f";

.provinsiList {
    display: flex;
    gap: f.rem-calc(15px);
    flex-wrap: wrap;
    justify-content: center;
    // height: fit-content;
}

.provinsi {
    border-radius: 10px;
    display: inline-block;
    padding: 0 f.rem-calc(10px);
    font-weight: 600;
}
.yellow {
    background-color: #fbbc05;
    color: black;
}
.blue {
    background-color: #005479;
    color: white;
}
