@use "var";
@use "f";

.burger-drawer {
    position: absolute;
    width: 100vw;
    display: none;

    row-gap: 5px;
    flex-direction: column;
    top: 100%;

    // overflow: hidden;

    transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out,
        height 0.15s ease-in-out;
    &__item {
        &:first-child {
            margin-top: 5px;
        }
        &__link {
            text-decoration: none;
            color: black;
            &:hover {
                color: #005479;
                cursor: pointer;
            }
        }
        background-color: white;
    }
}

.burger-drawer__item__link .mantine-Text-root {
    display: flex;
    align-items: center;
    font-weight: 400;
    // font-size: 10px;
    transition: color 0.15s ease-in-out, transform 0.15s ease-in-out,
        opacity 0.15s ease-in-out;
    opacity: 0.5;
    &.active {
        color: #005479;
        opacity: 1;
        font-weight: 700;
    }
    &:hover {
        opacity: 1;
        transform: scale(1.02);
    }
}

@media only screen and (max-width: var.$screen-medium) {
    .burger-drawer {
        display: grid;
        &.drawer-open {
            transform: translateX(0);
            opacity: 1;
        }
        &.drawer-closed {
            transform: translateX(-100%);
            opacity: 0;
        }
    }
}
