@use "f";
@use "var";

$img-h-original: 1752px;
$img-w-original: 4096px;
$img-ratio: calc($img-w-original/$img-h-original);

$img-h: 261px;

$image-top: calc(100% - 60px);

$logo-h: 40px;
$logo-w: 216;
$logo-ratio: calc($logo-h / $logo-w);
.block-1 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    background-color: #005479;
    // padding: f.rem-calc(10px) 0;

    &__text {
        position: absolute;
        width: 55%;
        left: f.rem-calc(60px);
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        > h1 {
            display: inline;
        }

        > img {
            // background-color: aqua;
            display: inline;
            position: relative;

            transform: translateY(f.rem-calc(13px));
            margin-left: f.rem-calc(14px);

            filter: contrast(0) brightness(100);
        }
    }
    &__image {
        aspect-ratio: $img-ratio;
        height: $img-h;
        position: relative;

        &::before {
            content: "";
            position: absolute;

            height: $img-h;
            aspect-ratio: $img-ratio;
            background: linear-gradient(
                270deg,
                rgba(0, 0, 0, 0) 2.08%,
                rgba(0, 84, 121, 1) 100%
            );
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 1;
        }
        &::after {
            content: "";
            position: absolute;

            height: $img-h;
            aspect-ratio: $img-ratio;
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0) 2.08%,
                rgba(255, 255, 255, 0.2) 100%
            );
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 1;
        }
    }
}

@media only screen and (max-width: var.$screen-medium) {
    .block-1__text {
        & p {
            font-size: 16px;
        }
        & h1 {
            font-size: 24px;
        }
        > img {
            height: 30px;
            width: auto;
            aspect-ratio: $logo-ratio;
            transform: translateY(f.rem-calc(10px));
        }
    }
}
