@use "f";
@use "var";

$map-w: f.rem-calc(1320px);
$map-h: f.rem-calc(479px);
$map-ratio: calc($map-w / $map-h);

$logo-h: f.rem-calc(40px);
$logo-w: f.rem-calc(216px);
$logo-ratio: calc($logo-w / $logo-h);

.block-4 {
    position: relative;
    padding: f.rem-calc(50px) f.rem-calc(60px);
    > img {
        object-fit: cover;
        z-index: -1;
    }
    &__title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: f.rem-calc(30px);
        filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.25));
        & > img {
            transform: translateY(f.rem-calc(5px));
            margin-right: f.rem-calc(14px);
            filter: contrast(0) brightness(0);

            height: $logo-h;
            width: auto;
            aspect-ratio: $logo-ratio;
        }
    }
    &__stats {
        display: grid;
        grid-template-columns: auto auto auto auto;
        // grid-template-columns: repeat(4, minmax(0, 1fr));
        // gap: f.rem-calc(35px);
        gap: 2vw;
        margin: f.rem-calc(15px) 0;
    }
    &__map {
        position: relative;
        // height: 400px;
        & > img {
            width: 100%;
            height: auto;
            aspect-ratio: $map-ratio;
        }
    }
    &__provinsi {
        margin-top: f.rem-calc(50px);
    }
}

@media only screen and (min-width: var.$screen-small) and (max-width: var.$screen-medium) {
    .block-4 {
        &__title-container {
            & > h1 {
                font-size: f.rem-calc(30px);
            }
            & > img {
                height: 35px;
                width: auto;
                aspect-ratio: $logo-ratio;
            }
        }
    }
}

@media only screen and (max-width: var.$screen-small) {
    .block-4 {
        padding: f.rem-calc(30px);
    }
}

@media only screen and (min-width: 410px) and (max-width: var.$screen-small) {
    .block-4 {
        &__title-container {
            flex-direction: column;
            & > h1 {
                font-size: f.rem-calc(24px);
            }
            & > img {
                height: 26px;
                margin-right: f.rem-calc(0px);
                margin-bottom: f.rem-calc(10px);
                transform: translateY(0);
            }
        }
    }
}
@media only screen and (min-width: 320px) and (max-width: 410px) {
    .block-4 {
        &__stats {
            grid-template-columns: 85px 85px;
            grid-template-rows: auto auto;
            row-gap: 20px;
            column-gap: 4vw;
            justify-content: center;
        }
        &__title-container {
            flex-direction: column;
            & > h1 {
                font-size: f.rem-calc(24px);
            }
            & > img {
                height: 26px;
                margin-right: f.rem-calc(0px);
                margin-bottom: f.rem-calc(10px);
                transform: translateY(0);
            }
        }
    }
}
