@use "f";

$map-w: f.rem-calc(1320px);
$map-h: f.rem-calc(479px);
$map-ratio: calc($map-w / $map-h);

$logo-h: 40px;
$logo-w: 216;
$logo-ratio: calc($logo-h / $logo-w);

.block-4 {
    position: relative;
    padding: f.rem-calc(50px) f.rem-calc(60px);
    > img {
        object-fit: cover;
        z-index: -1;
    }
    &__title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: f.rem-calc(30px);
        filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.25));
        & > img {
            transform: translateY(f.rem-calc(5px));
            margin-right: f.rem-calc(14px);
            filter: contrast(0) brightness(0);

            height: $logo-h;
            width: auto;
            aspect-ratio: $logo-ratio;
        }
    }
    &__stats {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: f.rem-calc(35px);
        margin: f.rem-calc(15px) 0;
    }
    &__map {
        position: relative;
        // height: 400px;
        & > img {
            width: 100%;
            height: auto;
            aspect-ratio: $map-ratio;
        }
    }
    &__provinsi {
        margin-top: f.rem-calc(50px);
    }
}
