@use "f";

.pisa {
    width: f.rem-calc(165px);
    // display: grid;
    // flex-direction: column;
    // display: contents;
    &__box {
        background-color: #005479;
        // display: inline;
        padding: f.rem-calc(10px);
        text-align: center;
        border-radius: 24.217px;
        margin-bottom: f.rem-calc(15px);

        h1 {
            color: white;
            font-weight: 700;
            font-size: f.rem-calc(65px);
            text-shadow: 1.67px 1.67px 8.351px rgba(0, 0, 0, 0.25);
        }
    }
    &__title {
        background-color: #ffba2c;
        margin-bottom: f.rem-calc(7px);

        p {
            color: #000;

            text-align: center;
            font-size: 16px;
            font-weight: 700;
            line-height: 180%; /* 28.8px */
        }
    }
    &__average-desc {
        p {
            color: #fff;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            line-height: 125%; /* 20px */
        }
    }
}
