@use "f";
@use "var";

$logo-ratio: calc(2186 / 406);
// $logo-ratio: calc(406 / 2186);

.header {
    display: flex;
    background-color: white;
    height: f.rem-calc(90px);

    justify-content: space-between;
    align-items: center;

    position: sticky !important;
    top: 0;
    padding: f.rem-calc(50px);
    &__logo {
        display: flex;
        height: f.rem-calc(37px);
        aspect-ratio: $logo-ratio;
        position: relative;
        & > a {
            width: f.rem-calc(200px);
            & > img {
                height: 100%;
                width: auto;
            }
        }
    }
    &__menu {
        display: flex;
    }
    z-index: 100;
}
